<% if @name %>
    <h1>
        My name is: <%= @name %>
    </h1>
    <% else %>
    <form action='/named-cat'>
        <input type='text' name='name'>
        <input type='submit' value='Submit'>
    </form>
<% end %>
<img src='https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697' width=850 height=600 style='border: 3px dashed red'>