.hide {
    display: none;
}
  
.myDIV:hover + .hide {
  display: block;
  color: red;
}

.background-colour {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 20;
	font-size: 100px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}